# Subsystem configuration options

# Copyright (c) 2016-2017 Intel Corporation
# Copyright (c) 2021 Nordic Semiconductor
# SPDX-License-Identifier: Apache-2.0

menu "Subsystems and OS Services"

rsource "lorawan_lbm/Kconfig"

endmenu
