/*
 * Copyright (c) 2024 Semtech Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 / {
    zephyr,user {
        /* PINS used for the HW modem sample. */
        hw-modem-command-gpios = <&gpioc 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        hw-modem-busy-gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
        hw-modem-event-gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
        hw-modem-led-scan-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
    };

    aliases {
        /* Specify which UART is used for communication (as input for the hw modem tester) */
        smtc-hal-uart = &usart3;
        smtc-watchdog = &iwdg;
    };
};

&spi3 {
    status = "disabled";
};

/* Specify which UART is used for communication (as input for the hw modem tester) */
&usart3 {
    status = "okay";

    current-speed = <115200>;

    pinctrl-0 = <&usart3_rx_pc11 &usart3_tx_pc10>;
    pinctrl-names = "default";
    /delete-property/ hw-flow-control;
};

&iwdg {
    status = "okay";
};
